/* TODO: no longer need this either? */
.App {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* background-color: lightgray; */
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  /* height: 100%; */
}

.frameLabel {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Optionally, set a height to center vertically in the viewport */
  font-size: 5cm;
}